<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIG</title>
</head>

<body>
    <div class="center container">
        <h1 style="
            margin: 0;
            font-size: 5rem;
            padding: 0;
            margin-bottom: .5rem;
        ">GIG</h1>
        <p style="margin: 0;">Help faster Go project development</p>
        <p style="margin: 0;">More informations --&gt; 
            <a href="https://github.com/awgst/gig">https://github.com/awgst/gig</a>
        </p>
    </div>
</body>

<style>
    .container {
        width: 100vw;
        height: 95vh;
    }
    .center {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
</style>

</html>